
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Outfit:wght@400;700&display=swap');
:root{

/*Colors*/
--White: hsl(0, 0%, 100%);
--Light_gray: hsl(212, 45%, 89%);
--Grayish_blue: hsl(220, 15%, 55%);
--Dark_blue: hsl(218, 44%, 22%);

}

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: var(--Light_gray);
    height: 100vh;
    justify-items: center;
    align-items: center;
  overflow-y: hidden;
}

p{
    font-size: 15px;
    color: var(--Grayish_blue);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

h1{
    color: var(--Dark_blue);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;

}

.qr_card{
   
    background-color: var(--White);
    border-radius: 10px;
    width: 350px;
    padding: 1rem;
    text-align: center;

    img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    p{
        font-size: 18px;
    }
}

